<section id="galeria" class="galeria">
    <div class="wrapper">
        <div class="galeria__inner">
            <h3 class="galeria__inner-title" data-aos="fade-up">Galeria</h3>
            <p data-aos="fade-up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptate quidem rem fuga beatae vel culpa ex tempore sunt, architecto magni eos et rerum quia minus perspiciatis veritatis inventore accusantium!s
            </p>
            <div class="galeria__inner-fotos">
                <div class="galeria__fotos-half">
                    <div class="galeria__fotos-card" data-aos="flip-right">
                        <div class="galeria__card-img">
                            <img src="./../../../assets/img/galeria/equipe.jpg" alt="">
                        </div>
                        <div class="galeria__card-hover">
                            <h3>Lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error soluta, odio magni similique ullam sit? Accusantium </p>
                        </div>
                    </div>
                    <div class="galeria__fotos-card" data-aos="flip-right">
                        <div class="galeria__card-img">
                            <img src="./../../../assets/img/galeria/foco.jpg" alt="">
                        </div>
                        <div class="galeria__card-hover">
                            <h3>Lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error soluta, odio magni similique ullam sit? Accusantium </p>
                        </div>
                    </div>
                    <div class="galeria__fotos-card" data-aos="flip-right">
                        <div class="galeria__card-img">
                            <img src="./../../../assets/img/galeria/potencial-2.jpg" alt="">
                        </div>
                        <div class="galeria__card-hover">
                            <h3>Lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error soluta, odio magni similique ullam sit? Accusantium </p>
                        </div>
                    </div>
                </div>

                <div class="galeria__fotos-half">
                    <div class="galeria__fotos-card" data-aos="flip-left">
                        <div class="galeria__card-img">
                            <img src="./../../../assets/img/galeria/potencial.jpg" alt="">
                        </div>
                        <div class="galeria__card-hover">
                            <h3>Lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error soluta, odio magni similique ullam sit? Accusantium </p>
                        </div>
                    </div>
                    <div class="galeria__fotos-card" data-aos="flip-left">
                        <div class="galeria__card-img">
                            <img src="./../../../assets/img/galeria/produtividade.jpg" alt="">
                        </div>
                        <div class="galeria__card-hover">
                            <h3>Lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error soluta, odio magni similique ullam sit? Accusantium </p>
                        </div>
                    </div>
                    <div class="galeria__fotos-card" data-aos="flip-left">
                        <div class="galeria__card-img">
                            <img src="./../../../assets/img/galeria/responsabilidade.jpg" alt="">
                        </div>
                        <div class="galeria__card-hover">
                            <h3>Lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error soluta, odio magni similique ullam sit? Accusantium </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>