<div>
    <section class="banner" id="home">
        <button class="banner__slick-arrow slick-arrow slick-prev"></button>
        <button class="banner__slick-arrow slick-arrow slick-next"></button>
        <div class="banner__slider">
            <div class="banner__slider-item">
                <div class="banner__item-inner">
                    <div class="banner__slider-item-img" style="background-image: url(./../../../assets/img/home-banner.jpg);"></div>
                    <div class="banner__slider-item-content" data-aos="zoom-in">
                        <h3>Lorem Ipsum Sit Amet 1</h3>
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum delectus eveniet quis, non explicabo numquam quas expedita. Non, numquam dolorem nesciunt error architecto, beatae, earum eligendi alias veniam modi aperiam?</h5>
                        <button type="button" class="btn btn-banner">Ver mais</button>
                    </div>
                </div>
            </div>
            <div class="banner__slider-item">
                <div class="banner__item-inner">
                    <div class="banner__slider-item-img" style="background-image: url(./../../../assets/img/confianca.jpg);"></div>
                    <div class="banner__slider-item-content" data-aos="zoom-out">
                        <h3>Lorem Ipsum Sit Amet 2</h3>
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum delectus eveniet quis, non explicabo numquam quas expedita. Non, numquam dolorem nesciunt error architecto, beatae, earum eligendi alias veniam modi aperiam?</h5>
                        <button type="button" class="btn btn-banner">Ver mais</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="sliderScriptBanner"></div>

    <app-sobre></app-sobre>
    <app-servicos></app-servicos>
    <app-historia></app-historia>
    <app-galeria></app-galeria>
    <app-clientes></app-clientes>
    <app-processo></app-processo>
    <app-faq></app-faq>
    <app-contato></app-contato>
</div>


<div class="before-load">
    <div class="beforeLoad__logo" style="background-image: url(./../../../assets/img/logo.png);"></div>

</div>