<footer class="footer">
    <div class="wrapper" style="height: auto;">
        <div class="footer__inner">
            <div class="content-scroll-top" [class.visible]="this.showBtnScrollTop" [class.hidden]="!this.showBtnScrollTop">
                <button class="btn-scrollTop" (click)="scrollTop()">
                    <span class="icon-span top-icon">
                        <i class="fas fa-chevron-up"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="footer__copiright">
        <p>Copyright © 2020 All Rights Reserved - Bullest Soluções LTDA.</p>
    </div>


</footer>