<header class="header">
    <div class="header__logo">
        <img src="./../../../assets/img/logo.png" alt="">
    </div>
    <nav class="header__navigation">
        <a (click)="this.scrollToSection('#home')" class="header__navigation-link">Home</a>
        <a (click)="this.scrollToSection('#sobre')" class="header__navigation-link">Sobre</a>
        <a (click)="this.scrollToSection('#servicos')" class="header__navigation-link">Serviços</a>
        <a (click)="this.scrollToSection('#historia')" class="header__navigation-link">História</a>
        <a (click)="this.scrollToSection('#galeria')" class="header__navigation-link">Galeria</a>
        <a (click)="this.scrollToSection('#clientes')" class="header__navigation-link">Clientes</a>
        <a (click)="this.scrollToSection('#faq')" class="header__navigation-link">Dúvidas</a>
        <a (click)="this.scrollToSection('#contato')" class="header__navigation-link">Contato</a>
        <a class="header__navigation-link header__navigation-link--button">Login</a>
    </nav>
</header>