<section id="historia" class="historia">
    <div class="historia__title-content">
        <h3 data-aos="fade-up">Conheça nossa trajetória</h3>
    </div>
    <div class="wrapper">
        <div class="historia__inner">
            <div class="historia__linha">
                <div class="historia__linha-ano" *ngFor="let item of [0,1,2,3,4]">
                    <p class="ano" data-aos="fade-left">2002</p>
                    <div class="icone">
                        <i class="fab fa-linkedin" data-aos="fade-up"></i>
                    </div>
                    <div class="historia__linha-texto">
                        <h4 data-aos="fade-up">Lorem Ipsum</h4>
                        <p data-aos="fade-up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex magni sunt nam, possimus doloribus quod ad aliquam!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>