<section id="sobre" class="sobre">
    <div class="sobre__bg"></div>
    <div class="wrapper">
        <div class="sobre__inner">
            <div class="sobre__imgLeft" style="background-image: url(./../../../assets/img/equipe.jpg);" data-aos="fade-up"></div>
            <div class="sobre__content" data-aos="fade-up">
                <h3 data-aos="fade-up">Sobre nós</h3>
                <p data-aos="fade-up">Fazendo sempre um <strong>Kadin</strong> melhor a cada dia, a
                    <strong>Kadin</strong> tem uma proposta de valor incomparável para o seu negócio. Diferente de outras agências de Marketing Digital, nosso compromisso não se trata de geração de leads, e sim de resultado financeiro real para os clientes.
                    </p>
                <p data-aos="fade-up">Nossa visão compreende que o lead é o meio, e não o fim, e com esse princípio acompanhamos os clientes em suas jornadas de sucesso.</p>
                <p data-aos="fade-up">Através de tecnologias proprietárias, em desenvolvimento e inovação constante, nossa plataforma de trabalho está sempre otimizando a relação de investimento / retorno para nossos clientes.
                </p>
                <p data-aos="fade-up"><strong>Veja os nossos serviços:</strong></p>
            </div>
        </div>
    </div>
</section>